input,label{
    margin-left: 10px;
    
}
input{
    width: 90%;
    height:25px;
    
}

.buy{
    width: 450px;
    height: 380px;
    border: 2px solid black;
    margin-top:150px;
    margin-left:480px
}