.whole{

    background-image: url("../../assets/books.jpg");
    padding: 200px;
    
}


.desc{

        width: 400px;
        height: 320px;
        border: 2px solid black;
        margin-top:100px;
        margin-left:360px;
        opacity: 75%;
       
        background-color:#fcfcd7;
    
    }
button{
    margin-top:230px;
    margin-left:330px;
    background-color: blue;
}